includes:
  - phpstan-baseline.neon
  - vendor/bitexpert/phpstan-magento/extension.neon

parameters:
  excludePaths:
    - app/bootstrap.php
    - app/autoload.php
    - elastic.php
    - deploy.php
    - pub/autocomplete.php
